<div>
    <swiper-container
     class="w-full" 
     [navigation]="true"
     loop="true"
     [pagination]="{ clickable: true }"
     [autoplay]="autoplayConfig">
        <swiper-slide class="slide-1 w-full ">
            <img src="assets/slider-banners/banner1.jpg" class="w-full h-full object-cover" alt="">
        </swiper-slide>
        <swiper-slide class="slide-2 w-full">
            <img src="assets/slider-banners/banner2.png" class="w-full h-full object-cover" alt="">
        </swiper-slide>
        <swiper-slide class="slide-3 w-full">
            <img src="assets/slider-banners/banner3.jpg" class="w-full h-full object-cover" alt="">
        </swiper-slide>

    </swiper-container>
</div>