.sticky-top {
    position: fixed;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
    z-index: 10;
  }

  header {
    transition: all 0.3s ease-in-out; /* Smooth transition */
  }