<header class="w-full">
    <div class=" px-4 py-2 mx-auto flex items-center bg-gray-100 text-xs">
      <img src="assets/jordan-logo.png" class=" h-4 cover" alt="Logo" />
      <nav class="hidden ml-auto md:flex space-x-2 font-semibold">
        <a routerLink="/store-finding" routerLinkActive="font-bold" [routerLinkActiveOptions]="{ exact: true }" class="hover:text-blue-500">Find a store</a>
        <span class="text-gray-400">|</span>
        <a routerLink="/help" routerLinkActive="font-bold" class="hover:text-blue-500">Help</a>
        <span class="text-gray-400">|</span>
        <a routerLink="/join-us" routerLinkActive="font-bold" class="hover:text-blue-500">Join us</a>
        <span class="text-gray-400">|</span>
        <a routerLink="/sign-in" routerLinkActive="font-bold" class="hover:text-blue-500">Sign in</a>
      </nav>
    </div>

    <div class="px-4 py-2 w-full flex items-center ">
      <!-- Logo -->
        <img src="assets/logo-nike.png" class=" h-4 cover" alt="Logo" />

      <!-- Navigation Links (Desktop) -->
        <nav class="flex-1 justify-center md:flex space-x-6">
            <a routerLink="/" routerLinkActive="font-bold" [routerLinkActiveOptions]="{ exact: true }" class="hover:text-gray-300">Home</a>
            <a routerLink="/details" routerLinkActive="font-bold" class="hover:text-gray-300">Details</a>
            <a routerLink="/about" routerLinkActive="font-bold" class="hover:text-gray-300">About</a>
            <a routerLink="/contact" routerLinkActive="font-bold" class="hover:text-gray-300">Contact</a>
        </nav>
    
        <div class="flex gap-4 ml-auto ">
            <i class='bx bx-search bx-sm'></i>
            <i class='bx bx-heart bx-sm' ></i>
            <i class='bx bx-cart-alt bx-sm' ></i>
        </div>
        <!-- Hamburger Menu (Mobile) -->
        <!-- <div class="md:hidden">
            <button id="hamburger-btn" class="">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            </button>
        </div> -->
    </div>
  
    <!-- Mobile Menu -->
    <!-- <nav id="mobile-menu" class="md:hidden bg-blue-700 space-y-4 px-6 py-4 hidden">
      <a href="#" class="text-white hover:text-gray-300">Home</a>
      <a href="#shop" class="text-white hover:text-gray-300">Shop</a>
      <a href="#about" class="text-white hover:text-gray-300">About</a>
      <a href="#contact" class="text-white hover:text-gray-300">Contact</a>
    </nav> -->
</header>