.card-flip {
    perspective: 10000px;
}

.card-front,
.card-back {
    transition: all 0.8s ease;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-front {
    transform: rotateY(180deg);
    opacity: 0;
}

.card-flip:hover .card-back {
    transform: rotateY(0);
    opacity: 1;
}
